Node-RED/pre.json
[
    {
        "id": "599c8c01368ee592",
        "type": "tab",
        "label": "CoderDojo 小田原出席簿",
        "disabled": false,
        "info": ""
    },
    {
        "id": "0a8252a60ee700ad",
        "type": "function",
        "z": "599c8c01368ee592",
        "name": "重複判定する",
        "func": "msg.payload = msg.payload.toUpperCase();\nmsg.payload = msg.payload.replace(/\\r?\\n/g, \"\");\n\nvar id = global.get(\"befor_id\");\n\nif (msg.payload === null) {\n    msg.payload = '';\n} else if (id === msg.payload) {\n    msg.id = msg.payload;\n    msg.payload = \"dupe\";\n} else {\n    id = msg.payload;\n    global.set(\"befor_id\", id);\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 240,
        "wires": [
            [
                "a440b77d3428c118"
            ]
        ]
    },
    {
        "id": "6a29d56b38f98ed3",
        "type": "inject",
        "z": "599c8c01368ee592",
        "name": "初期化",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1Bo8qtQdOYGffxWqGh-20y_9BuBXyhPacgNAj-L_YQHw",
        "payloadType": "str",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "2eab9a9513c71793",
                "b0297d5d533cc486"
            ]
        ]
    },
    {
        "id": "a440b77d3428c118",
        "type": "switch",
        "z": "599c8c01368ee592",
        "name": "重複分岐",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "dupe",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 560,
        "y": 240,
        "wires": [
            [
                "f2e83cc70ae37f2e"
            ],
            [
                "f2e83cc70ae37f2e"
            ],
            [
                "04a8bd02352fb7e1"
            ]
        ]
    },
    {
        "id": "f2e83cc70ae37f2e",
        "type": "debug",
        "z": "599c8c01368ee592",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "id",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 180,
        "wires": []
    },
    {
        "id": "db4aa5f1db9185bd",
        "type": "comment",
        "z": "599c8c01368ee592",
        "name": "初期化（フロー開始時に処理）",
        "info": "",
        "x": 170,
        "y": 40,
        "wires": []
    },
    {
        "id": "2dbb53b9f22a6a47",
        "type": "comment",
        "z": "599c8c01368ee592",
        "name": "テスト用",
        "info": "",
        "x": 100,
        "y": 160,
        "wires": []
    },
    {
        "id": "b0297d5d533cc486",
        "type": "change",
        "z": "599c8c01368ee592",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sheet",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "2eab9a9513c71793",
        "type": "change",
        "z": "599c8c01368ee592",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "cell_count",
                "pt": "global",
                "to": "2",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "befor_id",
                "pt": "global",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c893e38f6970910d",
        "type": "inject",
        "z": "599c8c01368ee592",
        "name": "テスト用ID",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "jugemujugemu",
        "payloadType": "str",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "0a8252a60ee700ad"
            ]
        ]
    },
    {
        "id": "ec95cc5fdab5e04e",
        "type": "function",
        "z": "599c8c01368ee592",
        "name": "変数処理",
        "func": "var count = global.get(\"cell_count\");\ncount += 1;\nglobal.set(\"cell_count\",count);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 420,
        "wires": [
            [
                "1a5e8dab2dae5f57"
            ]
        ]
    },
    {
        "id": "3956cb005de9eae1",
        "type": "comment",
        "z": "599c8c01368ee592",
        "name": "スプレットシートへの書き込み",
        "info": "",
        "x": 770,
        "y": 320,
        "wires": []
    },
    {
        "id": "6d6db6ee1d632d87",
        "type": "GSheet",
        "z": "599c8c01368ee592",
        "creds": "d0e3e8126bc60146",
        "method": "append",
        "action": "",
        "sheet": "",
        "cells": "A1",
        "flatten": false,
        "name": "",
        "x": 710,
        "y": 420,
        "wires": [
            [
                "ec95cc5fdab5e04e"
            ]
        ]
    },
    {
        "id": "04a8bd02352fb7e1",
        "type": "change",
        "z": "599c8c01368ee592",
        "name": "日付を取得",
        "rules": [
            {
                "t": "set",
                "p": "date",
                "pt": "msg",
                "to": "$fromMillis($millis() + 9*60*60*1000,'[Y0001]/[M01]/[D01] [H01]:[m01]')",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 360,
        "wires": [
            [
                "a269984a8a954ddf"
            ]
        ]
    },
    {
        "id": "a269984a8a954ddf",
        "type": "function",
        "z": "599c8c01368ee592",
        "name": "各種情報をリストにまとめる",
        "func": "var count = global.get(\"cell_count\");\nvar cell = count ;\ncell = \"C\" + cell ;\nvar exec = '=xlookup(' + cell + ',\\'Look Up Table\\'!B3:B14,\\'Look Up Table\\'!C3:C14,\"\")';\n\ncount -= 1;\nmsg.payload = [count , msg.date ,msg.payload, exec ];\nmsg.sheet = global.get(\"sheet\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 360,
        "wires": [
            [
                "6d6db6ee1d632d87"
            ]
        ]
    },
    {
        "id": "1a5e8dab2dae5f57",
        "type": "GSheet",
        "z": "599c8c01368ee592",
        "creds": "d0e3e8126bc60146",
        "method": "get",
        "action": "",
        "sheet": "",
        "cells": "D2:D30",
        "flatten": false,
        "name": "",
        "x": 130,
        "y": 580,
        "wires": [
            [
                "abe2ebe2e9c02b92"
            ]
        ]
    },
    {
        "id": "65db03be98cba1e5",
        "type": "function",
        "z": "599c8c01368ee592",
        "name": "発表者名を抽出",
        "func": "let str = msg.payload[0];\nmsg.payload = [{\"今日の発表者\": str }]; // 1列のテーブルとして表示\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 540,
        "wires": [
            [
                "912184f137f6e0f9"
            ]
        ]
    },
    {
        "id": "7b371ada7b59547f",
        "type": "inject",
        "z": "599c8c01368ee592",
        "name": " 再起動時に初期化",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 190,
        "y": 720,
        "wires": [
            [
                "912184f137f6e0f9",
                "0020f62a1a0cb0d9"
            ]
        ]
    },
    {
        "id": "76a07b31939c70be",
        "type": "comment",
        "z": "599c8c01368ee592",
        "name": "ダッシュボード作成",
        "info": "",
        "x": 130,
        "y": 520,
        "wires": []
    },
    {
        "id": "cb5ad7dd8781e3b2",
        "type": "comment",
        "z": "599c8c01368ee592",
        "name": "ダッシュボードの初期化",
        "info": "",
        "x": 170,
        "y": 680,
        "wires": []
    },
    {
        "id": "8f4d60b980cd7308",
        "type": "change",
        "z": "599c8c01368ee592",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.\"今日の発表者\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 620,
        "wires": [
            [
                "f17b7b0abbffa373"
            ]
        ]
    },
    {
        "id": "2db4b84b923893a9",
        "type": "GSheet",
        "z": "599c8c01368ee592",
        "creds": "d0e3e8126bc60146",
        "method": "append",
        "action": "",
        "sheet": "",
        "cells": "発表者!A1",
        "flatten": false,
        "name": "",
        "x": 950,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "f17b7b0abbffa373",
        "type": "function",
        "z": "599c8c01368ee592",
        "name": "SheetのID取得しなおし",
        "func": "msg.sheet = global.get(\"sheet\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 720,
        "wires": [
            [
                "2db4b84b923893a9"
            ]
        ]
    },
    {
        "id": "c6a478266c3f9e5d",
        "type": "ui-button",
        "z": "599c8c01368ee592",
        "group": "8c413d7ac3e4a87d",
        "name": "",
        "label": "発表者リセット",
        "order": 1,
        "width": "0",
        "height": "0",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "Autoplay",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 160,
        "y": 780,
        "wires": [
            [
                "912184f137f6e0f9",
                "f0db94ebfe892b28"
            ]
        ]
    },
    {
        "id": "0020f62a1a0cb0d9",
        "type": "ui-table",
        "z": "599c8c01368ee592",
        "group": "7c2f6720d1d327cd",
        "name": "参加者の表示",
        "label": "",
        "order": 1,
        "width": "0",
        "height": "0",
        "maxrows": 0,
        "passthru": false,
        "autocols": false,
        "showSearch": false,
        "selectionType": "none",
        "columns": [
            {
                "title": "",
                "key": "0",
                "keyType": "key",
                "type": "button",
                "width": "",
                "align": "center"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "x": 520,
        "y": 600,
        "wires": [
            [
                "65db03be98cba1e5"
            ]
        ]
    },
    {
        "id": "912184f137f6e0f9",
        "type": "ui-table",
        "z": "599c8c01368ee592",
        "group": "d24774eb629dcb3b",
        "name": "発表者の表示",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": false,
        "showSearch": false,
        "selectionType": "click",
        "columns": [
            {
                "title": "",
                "key": "今日の発表者",
                "keyType": "key",
                "type": "button",
                "width": "",
                "align": "start"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "append",
        "x": 960,
        "y": 540,
        "wires": [
            [
                "8f4d60b980cd7308"
            ]
        ]
    },
    {
        "id": "abe2ebe2e9c02b92",
        "type": "function",
        "z": "599c8c01368ee592",
        "name": "スプシの重複排除",
        "func": "let uniquePayload = [...new Set(msg.payload.map(JSON.stringify))].map(JSON.parse);\n\nmsg.payload = uniquePayload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 560,
        "wires": [
            [
                "0020f62a1a0cb0d9"
            ]
        ]
    },
    {
        "id": "8403dc0e06225fd9",
        "type": "comment",
        "z": "599c8c01368ee592",
        "name": "本番用",
        "info": "",
        "x": 90,
        "y": 360,
        "wires": []
    },
    {
        "id": "f0db94ebfe892b28",
        "type": "change",
        "z": "599c8c01368ee592",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "msg.ui_update",
                "pt": "msg",
                "to": "autoplay",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "0feac652bda07db8",
        "type": "inject",
        "z": "599c8c01368ee592",
        "name": "自動実行",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 420,
        "wires": [
            [
                "9bf0d7e2bee49124"
            ]
        ]
    },
    {
        "id": "9bf0d7e2bee49124",
        "type": "exec",
        "z": "599c8c01368ee592",
        "command": "/home/coderdojo/miniforge3/bin/python3 /home/coderdojo/pasori.py",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "NFC読み取り",
        "x": 300,
        "y": 340,
        "wires": [
            [
                "0a8252a60ee700ad",
                "f60c693cd5941240"
            ],
            [],
            []
        ]
    },
    {
        "id": "7f0f8b34b755d469",
        "type": "comment",
        "z": "599c8c01368ee592",
        "name": "Gsheetを触ったらフローを再起動すること。",
        "info": "",
        "x": 370,
        "y": 480,
        "wires": []
    },
    {
        "id": "f60c693cd5941240",
        "type": "change",
        "z": "599c8c01368ee592",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "　",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 420,
        "wires": [
            [
                "9bf0d7e2bee49124"
            ]
        ]
    },
    {
        "id": "d0e3e8126bc60146",
        "type": "gauth",
        "name": "dojoattendance@avid-reference-452801-s1.iam.gserviceaccount.com"
    },
    {
        "id": "8c413d7ac3e4a87d",
        "type": "ui-group",
        "name": "リセット",
        "page": "fd4e9943cfe9693a",
        "width": "2",
        "height": 1,
        "order": 3,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "7c2f6720d1d327cd",
        "type": "ui-group",
        "z": "599c8c01368ee592",
        "name": "今日の参加者",
        "page": "fd4e9943cfe9693a",
        "width": "3",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "true",
        "groupType": "default"
    },
    {
        "id": "d24774eb629dcb3b",
        "type": "ui-group",
        "name": "今日の発表者",
        "page": "fd4e9943cfe9693a",
        "width": "3",
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "fd4e9943cfe9693a",
        "type": "ui-page",
        "name": "CoderDojo 小田原",
        "ui": "b5853b72a49e2819",
        "path": "/page1",
        "icon": "home",
        "layout": "flex",
        "theme": "8975986c25dbc19f",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "b5853b72a49e2819",
        "type": "ui-base",
        "name": "CoderDojo 小田原",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true
    },
    {
        "id": "8975986c25dbc19f",
        "type": "ui-theme",
        "name": "標準",
        "colors": {
            "surface": "#ffffff",
            "primary": "#324a77",
            "bgPage": "#324a77",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "compact",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]
